<div class="main-container">
    <mat-card class="card">
        <table style="width: 100%;">
            <tr>
                <th style="border-bottom: none;"></th>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Player 3</th>
                <th>Player 4</th>
            </tr>
            <tr style="text-align: center;">
                <td>Total:</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Add:</td>
                <td>
                    <mat-form-field>
                        <input matInput type="number">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput type="number">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput type="number">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput type="number">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><button style="border: 1px solid white; margin: 5px;" mat-button>Undo</button></td>
                <td><button style="border: 1px solid white; margin: 5px;" mat-button>Add</button></td>
            </tr>
        </table>
       
    </mat-card>
</div>